/* align everything on the page to the center of the page */
.head{
  display: flex;
  flex-direction: row;
  border: 2px black solid;
}

.app{
  text-align: center;
}

.logo{
  border: 2px solid black;
  width:90%;
  padding-left: 180px;
}
.homeB{
  border: 2px solid black;
  width: 5%;
}
.helpB{
  border: 2px solid black;
   width: 5%;
}
/* style for the links in the buttons to different components */
.link{
  text-decoration: none;
  color: black;
}

/* style for the buttons on the page */
.link0{
  /* padding: 5px;
  margin: 5px; */
  border: none;
  background-color: white;
  font-size: 1.4em;
  
  
}
.active-link {
  color: red;
}
.main{
  border: 2px solid black;
  margin-top: 100px;
}

.container{
  border: 2px solid red;
  margin-top: 80px;
}

.holder{
  border: 2px solid blue;
  margin:20px;
  display: flex;
  justify-content: center;
}

.messageArea{
   border: 2px solid blue;
   margin:20px;
}

.mainArea{
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.headings{
  font-size: 30px;
  text-align: left;
  border-bottom: 2px solid blue;
}

textarea{
  border: 1px solid white;
  font-weight: 300;
  font-style: italic;
  font-size:larger;
}

textarea:focus {
  outline: none;
}
 #key{
  border: 2px solid black;
  margin: 5px;
  margin-top: -15px;
  width: 3%;
  font-size: 30px;
 }

 #errorMessage, #errorMessage1{
  color: red;
 }
/* style for the footer */
#footer{  
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
 
}
